<%
  if (!noBranding) {
    if (name !== "") {
      name += " - ";
    }

    name += "Conversation built with Tripetto";

    if (!description) {
      description = "This conversation is built and deployed with Tripetto. You can build your own conversational forms and surveys in the Tripetto Studio.";
    }
  }
%>
<!DOCTYPE html>
<html<% if (language) { %> lang="<%=language%>"<% } %>>
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"
    />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="robots" content="noindex">
<% if (description) { -%>
      <meta name="description" content="<%=description%>" />
<% } -%>
<% if (keywords) { -%>
    <meta name="keywords" content="<%=keywords%>" />
<% } -%>
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@tripetto" />
    <meta property="og:url" content="<%=url%>" />
    <meta property="og:title" content="<%=name%>" />
<% if (description) { -%>
    <meta property="og:description" content="<%=description%>" />
<% } -%>
    <meta property="og:image" content="/assets/share-summary.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/icons/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/icons/favicon-16x16.png" />
    <link rel="apple-touch-icon" sizes="180x180" href="/icons/apple-touch-icon.png" />
    <link rel="manifest" href="/manifest.json" />
    <title><%=name%></title>
  </head>
  <body style="margin:0;overflow:hidden;">
    <script nonce="<%-cspNonce%>" src="/js/chat/bundle-[hash].js"></script>
<% if (token) { -%>
    <script nonce="<%-cspNonce%>">
      Tripetto.run("<%-token%>", "<%-filestoreUrl%>", <%-trackers%><% if (sentryDSN) { -%>, "<%-sentryDSN%>"<% } -%>);
    </script>
<% } -%>
    <noscript>
      Javascript is currently disabled in your browser. Please make sure to enable Javascript before using Tripetto.
    </noscript>
  </body>
</html>
