<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="robots" content="noindex">
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"
    />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="stylesheet" type="text/css" href="/css/static.css" />
    <title>This is so 404 - Tripetto</title>
  </head>
  <body>
    <div class="container">
      <div class="content">
        <h1>☠️ Nothing here.</h1>
        <h2>This is so 404!</h2>
        <p>Something went wrong, but it's not clear what exactly happened. Feel free to go back and try again.</p>
      </div>
    </div>
  </body>
</html>
