<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="robots" content="noindex">
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"
    />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="description"
      content="Use the Tripetto studio to create your smart forms and surveys. Design with the visual form builder and share the conversational form with a link, or embed inside your website. Free for everyone."
    />
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@tripetto" />
    <meta property="og:url" content="<%=url%>" />
    <meta property="og:title" content="Tripetto Studio - Smart forms and surveys for everyone" />
    <meta property="og:description" content="Use the Tripetto studio to create your smart forms and surveys. Design with the visual form builder and share the conversational form with a link, or embed inside your website. Free for everyone." />
    <meta property="og:image" content="/assets/share-summary.png" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="default" />
    <meta name="apple-mobile-web-app-title" content="Tripetto" />
    <link rel="icon" type="image/png" sizes="32x32" href="/icons/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/icons/favicon-16x16.png" />
    <link rel="apple-touch-icon" sizes="180x180" href="/icons/apple-touch-icon.png" />
    <link rel="manifest" href="/manifest.json" />
    <title>Tripetto</title>
  </head>
  <body>
    <script nonce="<%-cspNonce%>">
      var APP = {
        ENV: "<%=env%>",
        URL: "<%=url%>",
        FILESTORE: "<%=filestoreUrl%>",
        DSN: "<%=sentryDSN%>",
        TEMPLATE: "<%=definitionTemplate%>"
      };
    </script>
    <script nonce="<%-cspNonce%>" src="/js/app-[hash].js"></script>

    <noscript>
      Javascript is currently disabled in your browser. Please make sure to enable Javascript before using Tripetto.
    </noscript>
  </body>
</html>
