<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="robots" content="noindex">
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"
    />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="stylesheet" type="text/css" href="/css/static.css" />
    <title>You logged in somewhere else - Tripetto</title>
  </head>
  <body>
    <div class="container">
      <div class="content">
        <h1>🐣 Awesome!</h1>
        <h2>You signed in somewhere else</h2>
        <p>
          You can now store and share your forms to start collecting responses
          from your audience.
        </p>
        <a href="/" class="button">Continue here anyway</a>
        <br/>
        <a href="/">Sign me out now</a>
      </div>
    </div>
  </body>
</html>
