<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="robots" content="noindex">
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"
    />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="stylesheet" type="text/css" href="/css/static.css" />
    <title>You logged out successfully - Tripetto</title>
  </head>
  <body>
    <div class="container">
      <div class="content">
        <h1>🚀 Godspeed!</h1>
        <h2>You signed out successfully.</h2>
        <p>We hope to see you back soon.</p>
        <a href="/" class="button">Sign back in again</a>
      </div>
    </div>
  </body>
</html>
